# Core dependencies
streamlit
pandas
numpy
scipy
matplotlib
plotly
pillow
xarray
# Numba works well with Python 3.11
numba
llvmlite

# For CSV file reading
h5py

# Visualization
seaborn

# Machine learning
scikit-learn

# File handling
openpyxl
lxml


